<form (submit)="handleSubmit()" #form="ngForm">
  First Name:
  <input
    name="firstName"
    type="text"
    [(ngModel)]="firstName"
    #firstNameModel="ngModel"
  />
  {{ firstNameModel.valid }}

  <div class="red" *ngIf="firstNameModel.touched && firstNameModel.invalid">
    FirstName is required
  </div>

  <br /><br />

  Last Name:
  <input
    name="lastName"
    type="text"
    
    [(ngModel)]="lastName"
    #lastNameModel="ngModel"
  />
  <div class="red" *ngIf="lastNameModel.touched && lastNameModel.invalid">
    LastName is required
  </div>

  {{ lastNameModel.valid }}

  <br /><br />

  Email:
  <input
    name="email"
    type="text"
    
    email
    [(ngModel)]="email"
    #emailModel="ngModel"
  />
  <div class="red" *ngIf="emailModel.touched && emailModel.invalid">
    email is required
  </div>

  {{ emailModel.valid }}

  <br /><br />

  <button [disabled]="form.invalid">Submit</button>
</form>
