<form (submit)="handleSubmit()">
  First Name:
  <input
    name="firstName"
    type="text"
    required
    [(ngModel)]="firstName"
    #firstNameModel="ngModel"
  />
  {{ firstNameModel.valid }}
  {{ firstName }}

  <!-- <div class="red" *ngIf="firstNameModel.touched && !firstNameModel.valid">
    FirstName is required
  </div> -->

  <br /><br />

  Last Name:
  <input
    name="lastName"
    type="text"
    required
    [(ngModel)]="lastName"
    #lastNameModel="ngModel"
  />
  <!-- <div class="red" *ngIf="lastNameModel.touched && !lastNameModel.valid">
    LastName is required
  </div>  -->

  {{ lastNameModel.valid }}

  <br /><br />

  Email:
  <input
    name="email"
    type="text"
    required
    email
    [(ngModel)]="email"
    #emailModel="ngModel"
  />
  <!-- <div class="red" *ngIf="emailModel.touched && !emailModel.valid">
    email is required
  </div>  -->

  {{ emailModel.valid }}

  <br /><br />

  <button
    [disabled]="
      'firstNameModel.valid || lastNameModel.valid || emailModel.valid'
    "
  >
    Submit
  </button>
</form>
